@import 'tailwindcss';

.heading {
  @apply flex justify-center items-center mb-6;
}

h1 {
  @apply text-xl md:text-2xl xl:text-3xl font-extrabold;
}

.intro {
  @apply my-4 text-sm text-center;
}

.entry {
  @apply flex flex-col gap-4;
}

.entry-item {
  @apply flex flex-col gap-2;
}

.entry label {
  @apply font-normal;
}

.entry-item input {
  @apply w-full border border-gray-300 rounded-md p-3 text-base;
}

input:focus {
  @apply outline-solid shadow outline-1 outline-[#667EEA];
}

.entry-item input:hover {
  border-color: #667eea;
}

.error {
  @apply text-red-500 text-sm;
}

.password-label {
  @apply flex justify-between;
}

a {
  @apply cursor-pointer text-[#667EEA];
}

#next {
  @apply cursor-pointer bg-[#667EEA] w-full text-white rounded-md p-2 transition-colors duration-200;
}

#next:hover {
  background-color: #5a67d8; /* Darker shade on hover */
}

#next:focus {
  outline: 2px solid #667eea;
  outline-offset: 2px;
}

#next:disabled {
  @apply bg-gray-300 cursor-not-allowed;
}

.divider {
  @apply my-5 flex items-center justify-center;
}

.create p {
  @apply text-center;
}

#createAccount {
  @apply ml-2;
}

.accountButton {
  @apply w-full max-w-xs font-bold shadow-sm rounded-lg py-3 bg-indigo-100 text-gray-800 flex items-center justify-center transition-all duration-300 ease-in-out focus:outline-none hover:shadow focus:shadow-sm cursor-pointer;
}

.options {
  @apply flex flex-col items-center gap-y-3;
}

.options div {
  @apply w-full max-w-[350px];
}

.social .intro {
  @apply hidden;
}

#localAccountForm .into {
  @apply hidden;
}

.divider {
  @apply gap-x-4 text-sm;
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  @apply border-gray-100 border border-solid;
}
