@import "tailwindcss";

.heading {
  @apply flex justify-center items-center;
}

h1 {
  @apply text-xl md:text-2xl xl:text-3xl font-extrabold;
}

.intro {
  @apply my-4 text-sm text-center;
}

.entry {
  @apply flex flex-col gap-4;
}

.entry-item {
  @apply flex flex-col gap-2;
}

.entry label {
  @apply font-normal;
}

.entry-item input {
  @apply w-full border border-gray-300 rounded-md p-3 text-base;
}

input:focus {
  @apply outline-solid shadow outline-1 outline-[#667EEA];
}

.entry-item input:hover {
  border-color: #667EEA;
}

.error {
  @apply text-red-500 text-sm;
}

.password-label {
  @apply flex justify-between;
}

 a {
  @apply cursor-pointer text-[#667EEA];
 }

 #next {
  @apply cursor-pointer bg-[#667EEA] w-full text-white rounded-md p-2 transition-colors duration-200;
 }

 #next:hover {
  background-color: #5a67d8; /* Darker shade on hover */
}

#next:focus {
  outline: 2px solid #667EEA;
  outline-offset: 2px;
}

#next:disabled {
  @apply bg-gray-300 cursor-not-allowed;
}

 .divider {
  @apply my-5 flex items-center justify-center;
 }

 .create p {
  @apply text-center;
 }

 #createAccount {
  @apply ml-2;
 }

 .social {
  @apply hidden;
 }

 .social + .divider {
  @apply hidden;
 }